{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="image" 
            style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
        <form method="POST" action="/teachers?_method=PUT">
            <section class="infos">
                <h3>Editar Professor</h3>
                {% include "teachers/fields.njk" %}
                <input type="hidden" name="id" value="{{ teacher.id }}">
            </form>

            <form id="delet-form" method="post" action="/teachers?_method=DELETE">
                <button type="submit">Delete</button>
                <input type="hidden" name="id" value="{{ teacher.id }}">
            </form>

        </section>

    </div>

    {% include "confirm.njk" %}

{% endblock content %}