{% extends "layout.njk" %}

{% block head %}
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <main>
        <div class="grid-cursos">
            <div class="card" id="starter">
                <div class="card-img">
                    <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="">
                </div>
                <div class="card-title">
                    <h1>Starter</h1>
                </div>
                <div class="card-module">
                    Módulo - 10 aulas
                    <p>Free</p>
                </div>
            </div>

            <div class="card" id="launchbase">
                <div class="card-img">
                    <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="">
                </div>
                <div class="card-title">
                    <h1>LaunchBase</h1>
                </div>
                <div class="card-module">
                    Módulo - 15 aulas
                    <p>R$960,00</p>
                </div>
            </div>

            <div class="card" id="gostack">
                <div class="card-img">
                    <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="">
                </div>
                <div class="card-title">
                    <h1>GoStack</h1>
                </div>
                <div class="card-module">
                    Módulo - 12 aulas
                    <p>R$1500,00</p>
                </div>
            </div>
        </div>
    </main>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>

            </a>
            <a class="maximize">
                <i class="material-icons">settings_overscan</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>


    <script src="script.js"></script>

{% endblock %}

