{% extends "layout.njk" %}

{% block head %}
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <main>
        <div class="grid-cursos">

            {% for card in content %}

                <div class="card" id="{{card.id}}">
                    <div class="card-img">
                        <img src="{{card.img}}" alt="Curso {{card.title}}">
                    </div>
                    <div class="card-title">
                        <h1>{{card.title}}</h1>
                    </div>
                    <div class="card-module">
                        {{card.description}}
                        <p>{{card.price}}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </main>

    <script src="script.js"></script>

{% endblock %}

