<!DOCTYPE html>
<html>

<head>
    <title>Desafio 2-2 - Sobre</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">

    {% block head %}

    {% endblock %}

</head>

<body>
    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rockeseat.com.br">Email</a>
            <a href="tel:+5547992078676">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/conteudos">Conteúdos</a>
        </div>
    </header>

   {% block content %}
        <!-- Vai ser preenchido pelas outras páginas -->
   {% endblock %}

    <footer>
        <div class="links">
            <a href="https://github.com/lseguessi" target="_blank">Github</a>
            <a href="https://www.twitter.com/lseguessi" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/lucas-seguessi-801a1045/" target="_blank">LinkedIn</a>
        </div>
    </footer>

</body>

</html>