{% extends "layout.njk" %}

{% block content %}

    <section class="sobre">
        <div class="img_sobre">
            <img src="{{about.img}}" alt="Logo Empresa">
        </div>
        <div class="empresa">
            <h1>{{about.name}}</h1>
            <h2>
                {{about.description}}
            </h2>
            <ul>
                {% for tech in about.techs %}
                    <li>{{tech.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}