{% extends "layout.html" %}

{% block content %}

    <section class="sobre">
        <div class="img_sobre">
            <img src="https://www.flaticon.com/premium-icon/icons/svg/2822/2822812.svg" alt="Logo Empresa">
        </div>
        <div class="empresa">
            <h1>Seguetech</h1>
            <h2>Ajudaremos você a atingir seu objetico. Trabalhamos com as melhores tecnologias.</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JAVASCRIPT</li>
                <li>REACT</li>
                <li>REACT NATIVE</li>
                <li>NODEJS</li>
            </ul>
        </div>
    </section>

{% endblock %}