{% block confirm %}
    <script>
        const formDelete = document.querySelector("#delet-form")
        formDelete.addEventListener('submit', function (event) {
            const confirmation = confirm('Deseja deletar?')
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>
{% endblock %}