<div class="item">
    <div>Foto / Avatar</div>
    <input 
        type="url" 
        name="avatar_url"
        placeholder="https://"
        value="{{ teacher.avatar_url }}"
    >
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
        type="text" 
        name="name"
        placeholder="Nome do professor"
        value="{{ teacher.name }}"
    >
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date"
        name="birth"
        value="{{ teacher.birth }}"
    >
</div>
<div class="item">
    <div>Grau de Escolaridade</div>
    <select name="school">
        <option value="middle_complet"
            {% if teacher.school == "Médio Completo" %}
                    selected
            >Ensino Médio Completo
            </option>

        <option value="superior_complet"
            {% elif teacher.school == "Superior Completo" %}
                    selected
            >Ensino Superior Completo
                </option>

        <option value="master"
            {% elif teacher.school == "Mestrado" %}
                    selected
            >Mestrado
                </option>

        <option value="doctor"
            {% elseif teacher.school == "Doutorado" %}
                    selected
            {% endif %}>
                    Doutorado
                </option>
    </select>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span><input type="radio" name="classes" value="P" checked> Presencial</span>
        <span><input type="radio" name="classes" value="D"> À Distância</span>
    </div>
</div>

<div class="item">
    <div>Área de atuação: </div>
    <div>
        <input 
            type="text" 
            name="follow"
            placeholder="Matemática, Física, Quimíca...etc"
            value="{{ teacher.follow }}"
        >
    </div>
</div>

<button type="submit">Salvar</button>