<div class="item">
    <div>Foto / Avatar</div>
    <input 
        type="url" 
        name="avatar_url"
        placeholder="https://"
        value="{{ student.avatar_url }}"
    >
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
        type="text" 
        name="name"
        placeholder="Nome do Estudante"
        value="{{ student.name }}"
    >
</div>
<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email"
        placeholder="email@email.com"
        value="{{ student.mail }}"
    >
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date"
        name="birth"
        value="{{ student.birth }}"
    >
</div>

<div class="item">
    <div>Email</div>
    <select name="classYear">
        <option value="5ef">5° Ano Ensino Fundamental</option>
        <option value="6ef">6° Ano Ensino Fundamental</option>
        <option value="7ef">7° Ano Ensino Fundamental</option>
        <option value="8ef">8° Ano Ensino Fundamental</option>
        <option value="1em">1° Ano Ensino Médio</option>
        <option value="2em">2° Ano Ensino Médio</option>
        <option value="3em">3° Ano Ensino Médio</option>
    </select>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <input 
        type="number" 
        name="hours"
        placeholder="Horas particulares que irá ter por semana"
        value="{{ student.hours }}"
    >
</div>

<button type="submit">Salvar</button>