{% extends "layout.njk" %}

{% block content %}

    <section class="sobre">
        <div class="img_sobre">
            <img src="https://www.flaticon.com/premium-icon/icons/svg/2822/2822812.svg" alt="Logo Empresa">
        </div>
        <div class="empresa">
            <h1>ERRO 404</h1>
            <h2>PÁGINA NÃO ENCONTRADA.</h2>
            <P class="error-404">Erro 404 é comum aparecer em páginas da internet, quando não foi encontrado nenhum conteúdo.</P>
        </div>
    </section>

{% endblock %}