@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#content {
    text-align: center;
    margin: 0 auto;
    max-width: 940px;
}


/* ==== Header ==== */

header {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: left;
    align-items: center;
    margin-top: 38px;
}

header .links a {
    text-decoration: none;
    margin-left: 30px;
    color: #111111;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
    color: rgba(53, 31, 31, 0.438);
}


/* ==== INFO INICIAL ===== */

.info {
    margin-top: 30px;
    width: 100%;
    height: 346px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 46px;
}

.info .bg-info {
    font-size: 16px;
    text-align: left;
    padding: 60px;
    margin-top: 117px;
}

.img-info {
    margin-top: 46px;
}


/* ==== MAIS ACESSADAS ===== */

.more-acess h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #111111;
}


/* ===== CARDS ===== */

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.card-img img {
    width: 100%;
    border-radius: 15px;
}


/* ==== FOOTER ===== */

footer {
    margin-top: 50px;
    background-color: #EEEEEE;
    height: 62px;
    width: 100%;
    text-align: center;
}

footer .foodfy-footer p {
    color: #999999;
}