<div class="item">
    <div>Foto / Avatar</div>
    <input 
        type="url" 
        name="avatar_url"
        placeholder="https://"
        value="{{ student.avatar_url }}"
    >
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
        type="text" 
        name="name"
        placeholder="Nome do Estudante"
        value="{{ student.name }}"
    >
</div>
<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email"
        placeholder="email@email.com"
        value="{{ student.email }}"
    >
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date"
        name="birth_date"
        value="{{ student.birth_date }}"
    >
</div>

<div class="item">
    <div>Ano Escolar</div>
    <select name="class_year">
        <option value="5ef"
        {% if student.classYear =="5ef" %} selected {% endif %}>
            5° Ano Ensino Fundamental
        </option>
        <option value="6ef"
        {% if student.classYear =="6ef" %} selected {% endif %}>
            6° Ano Ensino Fundamental
        </option>
        <option value="7ef"
        {% if student.classYear =="7ef" %} selected {% endif %}>
            7° Ano Ensino Fundamental
        </option>
        <option value="8ef"
        {% if student.classYear =="8ef" %} selected {% endif %}>
            8° Ano Ensino Fundamental
        </option>
        <option value="1em"
        {% if student.classYear =="1em" %} selected {% endif %}>
            1° Ano Ensino Médio
        </option>
        <option value="2em"
        {% if student.classYear =="2em" %} selected {% endif %}>
            2° Ano Ensino Médio
        </option>
        <option value="3em"
        {% if student.classYear =="3em" %} selected {% endif %}>
            3° Ano Ensino Médio
        </option>
    </select>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <input 
        type="number" 
        name="hours"
        placeholder="Horas particulares que irá ter por semana"
        value="{{ student.hours }}"
    >
</div>

<button type="submit">Salvar</button>